.alignleft {
    display: inline;
    float: left;
    @include margin( 0 1.25rem 1rem 0);
}

.alignright {
    display: inline;
    float: right;
    @include margin( 0 0 1rem 1.25rem);
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    @include rems(margin-bottom, 1);
}