// ==========================================================================
// Form-Elements
//
// For imports, see EOF.
// ==========================================================================

/* Form fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
    @include padding(0.5rem);
    @include border-radius(3px);
    font-family: inherit;
    border: 1px solid #ccc;
}

select {
    max-width: 100%;
}

// ==========================================================================
// Imports
// ==========================================================================

@import "buttons";