// ==========================================================================
// Form-Elements
//
// For imports, see EOF.
// ==========================================================================

/* Form fields */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea {
    font-family: inherit;
    padding: 8px;
    padding: 0.5rem;
    font-family: inherit;
    border: 1px solid #ccc;
    border-radius: 3px;
}

select {
    max-width: 100%;
}

// ==========================================================================
// Imports
// ==========================================================================

@import "buttons";