// ==========================================================================
// Default stylings from HTML5 Boilerplate
//
// This file is imported before your custom styles.
// ==========================================================================

// Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

// Using rem font sizing (Root em’s) with fallback to px for ie8 and below - http://snook.ca/archives/html_and_css/font-size-with-rem
body {
    margin: 0;
    @include font-size(1rem);
    line-height: 1.5;
}

::-webkit-selection { background: $selection-bg; color: $selection-color; text-shadow: none; }
::-moz-selection { background: $selection-bg; color: $selection-color; text-shadow: none; }
::selection { background: $selection-bg; color: $selection-color; text-shadow: none; }

a {
    color: $link-color;
    text-decoration: underline;

    &:hover {
        color: $link-hover-color;
    }

    &:visited {
        color: $link-visited-color;
    }
}

menu { padding: 0; }

td { vertical-align: top; }
