//
// Add your custom variables here.
//
// See sass/variables/*.scss for possible options.
//
// FYI: you don't need to use "!default" here.
//

$highlight-color: #29ab3f;

$site-color: #141414;

$link-color: #75c300;
$link-hover-color: $highlight-color;
$link-visited-color: #666;