// Responsive images
img {
    border:         0;
    max-width:      100%;
    height:         auto;
    vertical-align: top;
}

.entry-content,
.comment-content,
.widget {
    img {
        max-width: 100%; // Fluid images for posts, comments, and widgets
    }
}

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
    height: auto; // Make sure images with WordPress-added height and width attributes are scaled correctly
}

img {
    &.size-full,
    &.size-large,
    &.header-image,
    &.wp-post-image {
        max-width: 100%;
        height:    auto; // Make sure images with WordPress-added height and width attributes are scaled correctly
    }
}

img.wp-smiley,
.rsswidget img {
    border:        0;
    border-radius: 0;
    box-shadow:    none;
    margin-bottom: 0;
    margin-top:    0;
    padding:       0;
}