// ==========================================================================
// Archives
// ==========================================================================

.archive-header,
.page-header {
    @include rem-values(margin-bottom, 2);
    border-bottom: 1px solid $page-header-border-color
}

.archive-meta {
    @include font-size(0.875, 2);
    @include rem-values(margin-top, 1);
    font-family: $default-font-family;
    font-style: italic;
    font-weight: 400;
    color: $archive-meta-color;
}