// ==========================================================================
// Comments
// ==========================================================================

.comments-title {
    @include rem-values(margin-bottom, 3);
    @include font-size(2, 1.5);
    font-weight: normal;
}

.comments-area article {
    @include rem-values(padding-bottom, 1);
    @include margin(1.5rem 0);
    border-bottom: 1px solid #ccc;
}

.comments-area article header {
    @include margin(0 0 1.5);
    overflow: hidden;
    position: relative;
}

.comments-area article header img {
    float: left;
    padding: 0;
    line-height: 0;
}

.comments-area article header cite,
.comments-area article header time {
    @include rem-values(margin-left, 5.25);
    display: block;
}
.comments-area article header cite {
    @include font-size(1, 1.5);
    font-style: normal;
}

.comments-area article header time {
    @include font-size(0.875, 1.8);
    font-family: $default-font-family;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    color: $comments-header-color;
}

.comments-area article header a {
    text-decoration: none;
    color: $comments-header-color;
}

.comments-area article header a:hover {
    color: $comments-header-hover-color;
}

.comments-area article header cite a {
    color: $comments-header-cite-color;
}

.comments-area article header cite a:hover {
    text-decoration: underline;
}

.comments-area article header h4 {
    @include font-size(0.875);
    @include padding(0.5 0.875);
    @include linear-gradient(#0088d0, #009cee);
    @include border-radius(3px);
    position: absolute;
    top: 0;
    right: 0;
    font-weight: normal;
    color: #fff;
    background-repeat: repeat-x;
    border: 1px solid #007cbd;
}

.comments-area li.bypostauthor cite span {
    @include font-size(0.75);
    @include rem-values(margin-left, 0.375);
    @include padding(0.125 0.375);
    position: absolute;
}

a.comment-reply-link {
    @include font-size(0.875, 1.8);
    color: #686868;
    text-decoration: none;
}

a.comment-reply-link:hover {
    color: #21759b;
}

.commentlist .pingback {
    @include rem-values(margin-left, 1.5);
    line-height: 1.8;
    padding-bottom: 0;
}

.commentlist .children {
    @include rem-values(margin-left, 3);
}

.commentlist {
    padding-left: 0;
}

// Comment form
#respond {
    @include rem-values(margin-top, 3);
}

#respond h3#reply-title #cancel-comment-reply-link {
    @include rem-values(margin-left, 0.75);
    @include font-size(0.75);
    font-weight: normal;
}

#respond form {
    @include margin(1.5 0 2 0);
}

#respond form p {
    @include margin(0.75 0);
}

#respond form p.logged-in-as {
    @include rem-values(margin-bottom, 1.5);
}

#respond form label {
    display: block;
    line-height: 1.8;
}

#respond form input[type="text"],
#respond form textarea {
    @include font-size(1, 1.8);
    @include padding(0.5rem);
    font-family: inherit;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 8px;
    width: 100%;
}

#respond form input[type="text"] {
    width:48%;
}

#respond form p.form-allowed-tags {
    @include font-size(0.75, 1.5);
    margin: 0;
    color: $comments-header-color;
}

#respond form p.form-allowed-tags code {
    background: none;
    border: none;
    color: $comments-header-color;
}

label .required,
span.required {
    color: $comments-label-required-color;
}

form label.error {
    @include padding(0 0.625 0 0.625);
    @include margin( 0.3125 0 0.3125 0);
    @include font-size(0.875);
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 700;
    padding: 0 10px 0 10px;
    border-left: 4px solid $comments-label-error-color;
    display: none;
}

#respond form label.error {
    line-height: 1.3;
}