// ==========================================================================
// Footer
// ==========================================================================

#footercontainer {
    width: 100%;
}

.site-footer {
    @include font-size(1rem);
    @include padding(1.875rem 0 0 0);
    clear: both;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px 0 0 0;
    color: $site-footer-color;

    h3 {
        color: $site-footer-heading-color;
    }

    a {
        color: $site-footer-link-color;

        &:visited {
            color: $site-footer-link-color;
        }

        &:hover {
            color: $site-footer-link-hover-color;
        }

        &:focus {
            outline: thin dotted;
            color: $site-footer-link-hover-color;
        }
    }

    .widget-area .widget {
        margin-bottom: 16px;
        @include rems(margin-bottom, 1rem);
    }
}

.smallprint {
    width: 90%;
    max-width: 1200px;
    color: $site-footer-small-print-color;

    p {
        font-size: 14px;
        @include font-size(0.875rem);
    }

    a {
        color: $site-footer-small-print-color;

        &:visited {
            color: $site-footer-small-print-color;
        }

        &:hover {
            color: $site-footer-small-print-hover-color;
        }
    }
}
