// ==========================================================================
// Main Content
// ==========================================================================

.entry-meta {
    clear: both;
}

.comments-link {
    font-family: $default-font-family;
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    @include font-size(0.875);
    float: right;
}

.entry-header {
    @include rem-values(margin-bottom, 1);

    .entry-title a {
        text-decoration: none;
    }

    h1 {
        a {
            &:visited {
                color: $link-color;
            }

            &:hover {
                color: $link-hover-color;
            }
        }
    }

}

article.sticky .featured-post {
    @include font-size(1);
    @include rem-values(margin-bottom, 1.5);
    font-family: $deco-font-family;
    font-style: normal;
    font-weight: 400;
    border-top: 4px double #aaa;
    border-bottom: 4px double #aaa;
    color: $caption-color;
    font-size: 16px;
    line-height: 3;
    text-align: center;
}

article.sticky {
    border-bottom: 4px double #aaa;
}

.site-content article {
    @include rem-values(margin-bottom, 2.5);
    -ms-word-wrap: break-word;
    -webkit-hyphens: auto;
    word-wrap: break-word;
}

.header-meta {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    @include rem-values(margin-bottom, 0.625);
    @include padding(0.3125 0);

    .lt-ie8 & {
        zoom: 1;
    }

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }

    a {
        text-decoration:none;

        &:visited {
            color: #333;
        }

        &:hover {
            color: #2997ab;
        }
    }
}


.entry-content {
    @include rem-values(margin-bottom, 1.25);

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after {
        clear: both;
    }

    .lt-ie8 {
        zoom: 1;
    }
}

.post-categories,
.post-tags {

    a {
        @include font-size(0.875);
        @include padding(0 0.3125);
        @include margin(0 0.1875 0 0);
        background-color: #333;
        color: #fff;
        margin: 0 3px 0 0;
        display: inline;
        text-decoration: none;

        &:visited {
            color: #fff;
        }

        &:hover {
            background-color: #2997ab;
            color: #fff;
        }
    }

}


.entry-header,
.comment-content {

    address {
        font-family: $default-font-family;
        font-style: italic;
        font-weight: 400;
        display: block;
    }
}

.entry-header {

    address {
        display: inline;
    }

    time,
    address {
        @include font-size(0.875);
        @include margin(0 1.25 0 0);
        font-family: $default-font-family;
        font-style: italic;
        font-weight: 400;
    }

}


.page-links {
    clear: both;
    line-height: 1.75;
    color: $link-color;

    .page-numbers {
        @include padding(0.125 0.25);
        background-color: $nav-page-numbers-current-bg;
        border: 1px solid $nav-page-numbers-current-bg;
        color: $nav-page-numbers-current-color;
    }

    a {
        text-decoration: none;
    }

    a .page-numbers {
        background-color: transparent;
        color: $nav-page-numbers-color;
    }

    a:hover .page-numbers {
        background-color: $nav-page-numbers-hover-bg;
        color: $nav-page-numbers-hover-color;
    }
}


.more-link {
    text-decoration: none;
}

.post-edit-link {
    text-decoration: none;
}

.entry-content,
.comment-content {

    dl {
        @include margin(0 1.5);
    }

    dt {
        font-family: $default-font-family;
        font-style: normal;
        font-weight: 700;
        line-height: 1.5;
    }

    dd {
        line-height: 1.5;
        margin-bottom: 24px;
        @include rem-values(margin-bottom, 1.5);
    }

    table {
        @include font-size(0.875);
        @include margin(0 0 1.5);
        border-bottom: 1px solid $table-border-color;
        font-size: 14px;
        line-height: 2;
        margin: 0 0 24px;
        width: 100%;

        caption {
            @include font-size(1);
            @include margin(1.5 0);
        }
    }


    td {
        @include padding(0.375 0.625 0.375 0);
        border-top: 1px solid $table-border-color;
    }
}


.entry-content ol,
.comment-content ol,
.entry-content ul,
.comment-content ul {
    @include margin(0 0 1.5);
    line-height: 1.5;
    padding: 0;
}

.entry-content ul ul,
.comment-content ul ul,
.entry-content ol ol,
.comment-content ol ol,
.entry-content ul ol,
.comment-content ul ol,
.entry-content ol ul,
.comment-content ol ul {
    margin-bottom: 0;
}

.entry-content ul,
.comment-content ul {
    list-style: disc outside;
}

.entry-content ol,
.comment-content ol {
    list-style: decimal outside;
}

.entry-content li,
.comment-content li {
    @include margin(0 0 0 1.75);
}

// Author profiles
.author .archive-header {
    @include rem-values(margin-bottom, 1.5);
}

.author-info {
    @include margin(1.5 0);
    @include padding(1.5 0);
    border-top: 1px solid $table-border-color;
    border-bottom: 1px solid $table-border-color;
    overflow: hidden;

    &:before,
    &:after {
        content: "";
        display: table;
    }

    &:after { clear: both; }

    .lt-ie8 {
        zoom: 1;
    }
}

.author-description {

    h2 {
        @include font-size(1.5);
    }

    p {
        @include font-size(0.875, 1.5);
        @include rem-values(margin-bottom, 0.5);
        color: $author-description-color;
        margin-bottom: 8px;
    }
}


.author-link {
    @include font-size(0.875);

    a {
        color: $author-link-color;
        text-decoration: none;

        &:visited {
            color: $author-link-color;
        }

        &:focus,
        &:hover,
        &:active {
            outline: 0;
            color: $link-visited-color;
        }
    }

}


.author.archive {

    .author-info {
        border-top: 0;
        @include margin(0 0 3);
    }

    .author-avatar {
        margin-top: 0;
    }

    .author-link {
        display: none;
    }
}


.author-avatar {
    @include rem-values(margin-top, 0.5);
    float: left;
}

.author-description {
    float: right;
    width: 80%;
}

.social-meta a {
    @include rem-values(margin-right, 0.3125);
    text-decoration: none;
}

// ==========================================================================
// Media Queries
// ==========================================================================

@include media($point-xxs) {
    .author-description {
        float: left;
        width: 100%;
    }
}


