// ==========================================================================
// Site specific styles
//
// For imports, see EOF.
// ==========================================================================


// Small headers
.archive-title,
.page-title,
.entry-content th,
.comment-content th {
    @include font-size(0.875rem, 2rem);
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
}

// Site specific styles
#wrapper {
    width: 100%;
    position: relative;
    text-align: left;
}

#headercontainer {
    width: 100%;
}

.site-header {
    @include font-size(1rem);
    clear: both;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    color: #000;
}

.site-title {

    h1 {
        @include rems(margin-top, 1.25rem);
    }

    img {
        vertical-align: text-bottom;
    }

    a {
        color: $page-title-color;
        @include font-size(4rem);
        text-decoration: none;
    }

}

#bannercontainer {
    width: 100%;
    margin-top: 10px;
}

.home .banner .widget {
    @include margin(1.5rem 0);
}

.banner {
    @include padding(0.9375rem 0);
    color: $banner-color;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    min-height: 75px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $banner-color;
     }

    h1 {
        @include font-size(3.50rem);
    }

    h2 {
        @include font-size(2rem);
    }
}

#maincontentcontainer {
    width: 100%;

    .home-sidebar .widget {
        @include padding(0.625rem);
        @include border-radius(5px);
        background-color: $main-content-bg;
        border: 1px solid $main-content-border-color;
        -moz-background-clip: padding;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
    }
}

.site-content {
    @include font-size(1rem, 1.5rem);
    @include padding(2rem 0);
    clear: both;
    width: 90%;
    font-size: 16px;
    max-width: 1200px;
    margin: 0 auto;
    color: $site-color;
    position: relative;
}

.home-sidebar {
    @include rems(padding-bottom, 2rem);
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.home.page .site-content {

    padding-bottom: 0;

    article {
        margin-bottom: 0;
    }
}

// Social Media icons
.social-media-icons {
    float: right;
    height: auto;

    ul {
        list-style: none;
        margin: .5em 0 0 0;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0.1em 0 0 0.6em;
        font-size: 0.6rem;
        text-align: left;
    }

    a {
        color: #333;
        text-decoration: none;

        &:visited {
            color: #333;
        }

        &:hover,
        &:active {
            color: #2997ab;
        }
    }

}


/*  Breakpoints are set based on the design, not based on device sizes */
@include media($point-xxl) {
    .site-title a {
        @include font-size(3.25rem);
    }
    .banner h1 {
        @include font-size(2.75rem);
    }
    .banner h2 {
        @include font-size(1.5rem);
    }
}

@include media($point-l) {
    .banner .grid_6_of_12 {
        width: 100%;
    }
    .banner h1, .banner h2, .banner p {
        text-align: center;
    }
}

@include media($point-m) {
    .social-media-icons {
        float: none;
        text-align: left;
    }
    .social-media-icons li {
        margin: 0.1em 0.5em 0 0;
    }
}

/*  Adjust the menu at less than 520px */
@include media($point-xs) {
    .site-title h1 {
        text-align: center;
    }
    .social-media-icons {
        text-align: center;
    }
}


// ==========================================================================
// Imports
// ==========================================================================

@import "main-content";
@import "post-formats";
@import "archives";
@import "comments";
@import "widgets";
@import "footer";