// ==========================================================================
// Widgets
// ==========================================================================

.widget-area ul {
    list-style: none outside none;
    padding-left: 0;
}

.widget-area .widget {
    -moz-hyphens: auto;
    -ms-word-break: break-all;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-wrap:break-word;
    word-break: break-word;
    @include rems(margin-bottom, 3rem);
}

.widget select {
    @include rems(margin-left, 0.0625rem);
}

.widget-area .widget ul ul {
    @include rems(margin-left, 0.75rem);
}

.widget_rss li {
    @include margin(0.75rem);
}

.widget_recent_entries .post-date,
.widget_rss .rss-date {
    @include font-size(0.75rem);
    @include rems(margin-left, 0.75rem);
}

#wp-calendar {
    @include font-size(0.875rem, 2rem);
    margin: 0;
    width: 100%;

    th,
    td,
    caption {
        text-align: center;
    }

    thead {
        border-top: 1px solid $widget-calendar-border-color;
        border-bottom: 1px solid $widget-calendar-border-color;
    }

    caption {
        font-family: $default-font-family;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        text-align: left;
    }

    #today {
        background-color: $widget-calendar-today-bg;
    }

    tfoot {
        border-top: 1px solid $widget-calendar-border-color;
        border-bottom: 1px solid $widget-calendar-border-color;
    }

    #next {
        @include rems(padding-right, 1.5rem);
        text-align: right;
    }
}


.widget_search label {
    @include font-size(0.875rem, 1.5rem);
    display: block;
}

.widget_twitter {

    li {
        list-style-type: none;
    }

    .timesince {
        display: block;
        text-align: right;
    }

}
