// Default font
$default-font-family: 'PT Sans', Helvetica, Arial, sans-serif !default;

// Decorative font, used for headings
$deco-font-family: 'Arvo', Georgia, "Times New Roman", Times, serif !default;

// Monospaced font, used for code and pre
$monospaced-font-family: Monaco, Menlo, Consolas, "Courier New", monospace !default;

// Icon font
$icon-font-family: 'FontAwesome' !default;