// Center block
@mixin center-block
{
    display:      block;
    margin-left:  auto;
    margin-right: auto;
}

// Clearfix
@mixin clearfix()
{
    content: "";
    display: table;
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after()
{
    clear: both;
}

/// Shorthand rems-mixin for font-size and line-height
///
/// @param {number} $fontSize [1] font-size in rem/em/px
/// @param {$lineHeight} $fontSize [false] optional line-height in rem/em/px
@mixin font-size($fontSize: 1, $lineHeight: false)
{

    @include rems(font-size, $fontSize);

    @if $lineHeight != false {
        @include rems(line-height, $lineHeight);
    }
}

/// Generates properties with rem and pixel fallbacks.
/// Conversion is resolved against $rem-size.
/// Depending on the provided units
///
/// @param {String} $property Name of the property to generate.
/// @param {List}   $values   List of Rem-based values to translate (no unit required).
@mixin rems($property, $values) {

    $px: ();
    $rem: ();
    $remSize: strip-unit($rem-size);

    @each $val in $values {

        // ugly hack in lack of break-statement.
        $processed: false;

        // Only process numbers, leave string-values like "auto" alone.
        @if type_of($val) == number {

            $unit: unit($val);
            $value: strip-unit($val);

            @if $unit == "px" {
                // Pixel-units are converted to rems.
                $px: append($px, $value * 1px);
                $rem: append($rem, ($value / $remSize) * 1rem);

                $processed: true;

            } @else if $unit == "rem" {

                // Rems are converted to pixels using $remSize.
                $px: append($px, ($value * $remSize) * 1px);
                $rem: append($rem, $value * 1#{$unit});

                $processed: true;
            }

        }

        // All other units are left alone. E.g. ems stay ems.
        @if not $processed {
            $px: append($px, $val);
            $rem: append($rem, $val);
        }
    }

    #{$property}: $px;
    #{$property}: $rem;

}

/// Shorthand function for generating rem-based paddings.
///
/// @param {List} $values List of rem-based paddings without unit.
@mixin padding($values) {
    @include rems('padding', $values);
}

/// Shorthand function for generating rem-based margins.
///
/// @param {List} $values List of rem-based margins without unit.
@mixin margin($values) {
    @include rems('margin', $values);
}
