// ==========================================================================
// Basic page styles
//
// For imports, see EOF.
// ==========================================================================

body {
    margin: 0 auto;
    padding: 0;
    font-family: $default-font-family;
    @include font-size(1, 1.5);
    font-style: normal;
    font-weight: 400;
    color: #333;
    text-align: left;
}

// Set the default behavior for touch-based browsing in IE10 on devices running Windows 8
canvas {
    -ms-touch-action: double-tap-zoom;
}

// Make sure videos and embeds fit their containers
embed, iframe, object, video {
    max-width: 100%;
}

.entry-content .twitter-tweet-rendered {
    max-width: 100% !important; // Override the Twitter embed fixed width
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    @include margin(1.5);
}

dt {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 700;
}

b, strong {
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 700;
}

em {
    font-family: $default-font-family;
    font-style: italic;
    font-weight: 400;
}

strong em, b em {
    font-family: $default-font-family;
    font-style: italic;
    font-weight: 700;
}

ins {
    background: none repeat scroll 0 0 #FFF9C0;
    text-decoration: none;
}

code, pre {
    @include font-size(0.75);
    @include padding(0 0.1875 0.125);
    @include border-radius(3px);
    color: #555;
    font-family: $monospaced-font-family;
}

code {
    @include padding(0.125 0.25);
    background-color: $code-bg;
    border: 1px solid $code-color;
}

abbr,
dfn,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// ==========================================================================
// Imports
// ==========================================================================

@import "lists";
@import "blockquotes";
@import "tables";