// ==========================================================================
// Basic page styles
//
// For imports, see EOF.
// ==========================================================================

body {
    margin: 0 auto;
    padding: 0;
    font: 16px/1.5 'PT Sans', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: #333;
    text-align: left;
}

// Set the default behavior for touch-based browsing in IE10 on devices running Windows 8
canvas {
    -ms-touch-action: double-tap-zoom;
}

// Make sure videos and embeds fit their containers
embed, iframe, object, video {
    max-width: 100%;
}

.entry-content .twitter-tweet-rendered {
    max-width: 100% !important; // Override the Twitter embed fixed width
}

hr {
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin: 24px;
    margin: 1.5rem;
}

dt {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

b, strong {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
}

em {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 400;
}

strong em, b em {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: 700;
}

ins {
    background: none repeat scroll 0 0 #FFF9C0;
    text-decoration: none;
}


.alignleft {
    display: inline;
    float: left;
    margin: 0 20px 16px 0;
    margin: 0 1.25rem 1rem 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 0 0 16px 20px;
    margin: 0 0 1rem 1.25rem;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

code, pre {
    border-radius: 3px;
    color: #555;
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
    font-size: 12px;
    font-size: 0.75rem;
    padding: 0 3px 2px;
    padding: 0 0.1875rem 0.125rem;
}

code {
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    padding: 2px 4px;
    padding: 0.125rem 0.25rem;
}

abbr,
dfn,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

// ==========================================================================
// Imports
// ==========================================================================

@import "lists";
@import "blockquotes";
@import "tables";