ol, ul {
    list-style: none outside none;
}

p, ol, ul, dl, address {
    margin: 0 0 24px 0;
    margin: 0 0 1.5rem 0;
    font-size: 16px;
    font-size: 1rem;
    line-height: 1.5;
}

ul ul, ul ol, ol ol, ol ul {
    margin-bottom: 0;
}