// ==========================================================================
// Main Navigation
// ==========================================================================

.main-navigation {
    @include margin(2.8125rem 0 0 0);
    text-align: left;
    float: right;
    clear: right;

    h1 {
        @include font-size(2rem, 1.25rem);
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;

        a {
            padding: 0; // Padding around each top level menu option (if needed)
        }


        li {

            &:hover > ul {
                display: block;
            }

            &.dropdown-header a,
            &.current-menu-item ul .dropdown-header a {
                color: $navbar-dropdown-header-color; // Nav bar dropdown header color
                background-color: $navbar-dropdown-header-bg; // Nav bar dropdown header background color
            }
        }

        ul {
            @include box-shadow(2px 2px 5px 0px rgba($black, 0.6));
            display: none;
            position: absolute;
            left: 0;
            z-index: 99999;
            line-height: 1.7;
            background-color: $navbar-dropdown-header-bg; // Nav bar dropdown background color

            & :hover > a {
                color: $navbar-dropdown-sub-hover-color; // Nav bar dropdown level 2 link color on level 3 hover
                background-color: $navbar-dropdown-sub-hover-bg; // Nav bar dropdown link background color on hover
            }

            a {
                @include padding(0 0.3125rem); // Padding around each dropdown menu option
                color: $navbar-dropdown-link-color; // Nav bar dropdown link color
                width: 10.5em; // Nav bar dropdown width

                &:hover {
                    color: $navbar-dropdown-link-hover-color; // Nav bar dropdown link color on hover
                }
            }

            li {
                margin: 0;

                &:hover > a {
                    color: $navbar-dropdown-link-hover-color; // Nav bar link color on hover
                }
            }

            ul {
                left: 100%;
                top: 0;
            }
        }

        .divider {
            border-bottom: 1px solid $navbar-divider-color;
            height:        0;
            line-height:   1px;
            overflow:      hidden;
        }
    }

    li {
        @include margin(0 0 0 1.25rem);
        float: left;
        position: relative;
        margin: 0 0 0 20px; // Margin on the left side of each top level menu item (since it's floated right)
    }

    li.menu-parent-item,        // If you don't want the arrows on the top level drop down, simply remove this style
    ul li li.menu-parent-item { // If you don't want the arrows on the sub-menu options, simply remove this style

        > a:after {
            @include font-size(0.5625rem);
            font-family: $icon-font-family;
            font-weight: normal;
            font-style: normal;
            speak: none;
            vertical-align: middle;
            content: " \f078";
        }

    }

    .current-menu-item,
    .current-menu-ancestor,
    .current_page_item,
    .current_page_ancestor,
    .current_page_parent {

        > a {
            color: $navbar-dropdown-header-current-color; // Nav bar link color for current menu item or ancestor
        }

    }
}


.nav-menu {
    @include font-size(1.125rem, 1.5rem);
    font-family: $default-font-family;
    font-style: normal;
    font-weight: 700;

    .main-small-navigation {
        display: none;
    }

}

.main-navigation,
.main-small-navigation {
    a {
        display: block;
        text-decoration: none;
        color: $navbar-dropdown-link-color; // Nav bar link color
    }
}

// Small menu toggle for mobile devices
.menu-toggle {
    cursor: pointer;
}

// ==========================================================================
// Media Queries
// ==========================================================================

@include media($point-xl) {
    .main-navigation {
        @include margin(2.375rem 0 0 0);
    }
}

@include media($point-l) {
    .main-navigation {
        @include margin(2rem 0 0 0);
    }
}

@include media($point-m) {
    header .main-navigation {
        margin-top: 0;
        float: none;
    }
    .main-navigation .nav-menu > li:first-child {
        margin-left: 0;
    }
}

/*  Go full Width at less than 650px */
@include media($point-s) {
    .main-small-navigation .nav-menu, .nav-menu ul {
        padding: 0;
    }
    .main-small-navigation .nav-menu ul {
        @include rems(padding-left, 1rem);
    }
}

/*  Adjust the menu at less than 520px */
@include media($point-xs) {
    .main-small-navigation .nav-menu,
    .main-small-navigation .nav-menu ul,
    .nav-menu,
    .nav-menu ul {
        padding: 0;
    }
    .main-small-navigation,
    .main-navigation li {
        width: 100%;
    }
    .main-small-navigation {
        text-align: center;
    }
    .main-small-navigation ul li,
    .main-navigation ul li {
        background-color: #fff;
        margin: 5px 0;
        text-align: center;
    }
    .main-navigation ul ul, .main-navigation ul ul li ul {
        position: relative;
    }
    .main-navigation ul ul li ul {
        left: 0;
    }
    .main-navigation ul ul a {
        color: $navbar-dropdown-link-color; /* Nav bar dropdown link color */
        background-color: $navbar-dropdown-header-bg;  /* Nav bar dropdown background color */
        width: 100%; /* Nav bar dropdown width */
    }
}